body {
  padding-top: 70px;
}

.my_search {
  width: 300%;
}

/*padding*/
.padding_bottom_big { padding-bottom: 20px !important; }
.padding_top_big { padding-top: 20px !important; }
.padding_top_small { padding-top: 10px !important; }
.padding_bottom_large {padding-top: 30px !important;}
/*margin*/
.margin-top-small {margin-top: 10px !important;}
.margin-bottom-small {margin-bottom: 5px !important;}
.margin-left-small { margin-left: 10px; }
.margin-left-big { margin-left: 50px; }
/*font size*/
.fs-20 {font-size: 20px};
.fs-18 {font-size: 18px};
.fs-16 {font-size: 16px};
/*font weight*/
.fw-700 {font-weight: 700};
.fw-bold {font-weight: bold};
/*bg color*/
.bg-blue {background-color: #3498db !important;}
.bg-red {background-color: #e74c3c !important;}

.clr_green { color: green; }
.clr_red { color: red; }
.clr_orange { color: orange; }

.my_main_logo {
  padding-top: 7px;
  font-weight: 700;
  font-size: 30px;
}
.my_height {
  height: 315px;
}
.my_banner_cover {
  width: 100%
}

.price-tag {
  font-weight: 700;
  font-size: 16px;
}
.label-login {
  margin: 0;
  font-size: 36px;
  font-weight: 400;
  color: #2c3e50;
}
.btn-login {
  color: #2c3e50;
  font-size: 24px;  
}
.label-login-content {
  padding: 10px 0;
  font-size: 17px;
  text-align: justify;
  color: #7f8c8d;
}
/* .gender {
  font-size: 16px;
  font-weight: 300;  
  color: #222f3e;
} */


