<!-- Footer -->
<div class="container-fluid my_footer">
  <div class="row">
    <div class="col-sm-6 col-md-3"></div>
    <div class="col-sm-6 col-md-3">
      <div class="row padding_bottom_big">
        <div class="col-sm-2 my_footer_icon">
          <span class="glyphicon glyphicon-map-marker my_icon" aria-hidden="true"></span>
        </div>
        <div class="col-sm-10 my_footer_text">
          <span class="fs-16">227 Nguyễn Văn Cừ</span>
          <br>
          <span><strong>Hồ Chí Minh, Việt Nam</strong></span>
        </div>
      </div> 
      <div class="row padding_bottom_big">
        <div class="col-sm-2 my_footer_icon">
          <span class="glyphicon glyphicon-earphone my_icon" aria-hidden="true"></span>
        </div>
        <div class="col-sm-10 my_footer_text">
          <p class="padding_top_small"><strong>+84 286 2884 499</strong></p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-2 my_footer_icon">
          <span class="glyphicon glyphicon-globe my_icon" aria-hidden="true"></span>
        </div>
        <div class="col-sm-10 my_footer_text">
          <p class="padding_top_small clr_blue"><strong>www.hcmus.edu.vn</strong></p>
        </div>
      </div>
    </div>

    <div class="col-sm-6 col-md-3">
      <div class="row">
        <div class="col-sm-12">
          <p class="my_footer_text"><strong>About Team</strong></p>
        </div>
        <div class="col-sm-12 margin-bottom-small">
          <p class="my_footer_text_content">
            1412100 - Trương Hoàng Duy <br>
            1412552 - Trần Trung Tính <br>
            1412646 - Nguyễn Đình Vũ
          <p/>
        </div>
        <div class="col-sm-12">
          <p class="my_footer_text">Sign in with 
            <a href="/admin" class="btn btn-info">admin</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>