body {
  font-size: 15px;
  padding-top: 85px;
  background-color: rgb(248, 248, 248);
}
.my_main_logo {
  padding: 7px 3px 3px 5px;
  /* text-transform: uppercase; */
  font-weight: 700;
  background-image: linear-gradient(to right, #7ed56f, #28b485);
  display: inline-block;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 0.2rem;
  font-size: 30px;
}

.my_account {
  margin: 5px 5px 0 0;
  width: 250px;
}
.my_account_logo {
  font-size: 35px;
  color: #7f8c8d;
}
.my_shopping_cart {
  margin: 10px 10px 0 0;
}
/*height*/
.height-50 {height: 55px !important;}
/*padding*/
.padding_bottom_big { padding-bottom: 20px !important; }
.padding_top_big { padding-top: 20px !important; }
.padding_top_small { padding-top: 10px !important; }
.padding_bottom_large {padding-top: 30px !important;}
/*margin*/
.margin-top-small {margin-top: 10px !important;}
.margin-bottom-small {margin-bottom: 5px !important;}
.margin-bottom-big {margin-bottom: 20px !important;}
.margin-left-small { margin-left: 10px; }
.margin-left-big { margin-left: 50px; }
/*font size*/
.fs-20 {font-size: 20px !important; }
.fs-19 {font-size: 19px}
.fs-18 {font-size: 18px}
.fs-17 {font-size: 17px}
.fs-12 {font-size: 12px}
/*font weight*/
.fw-700 {font-weight: 700};
.fw-bold {font-weight: bold};
/*bg color*/
.bg-blue {background-color: #3498db !important;}
.bg-red {background-color: #e74c3c !important;}
.clr_green { color: green; }
.clr_red { color: red; }
.clr_orange { color: orange; }
.clr_blue { color: #ced6e0;}

.panel-title-header {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 700;
}
/* Item list */
.item-list-page {
  text-align: center;
}
.pagination > li > a {
  border: 0 none;
}
.pagination > li.active > a {
  border-radius: 5px;
}

.thumbnail {
  border: 0 none;
  cursor: pointer;
  border-radius: 5px;
}
.thumbnail:hover {
  box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.5);
}
.item-cover-img img {
  width: 100%;
  height: 300px;
  border-radius: 5px;
  cursor: pointer;
}
.item-cover-img img:hover {
  box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);
}
.my_banner_cover {
  width: 100%
}

.price-tag {
  font-weight: 700;
  font-size: 16px;
}
.label-login {
  margin: 0;
  font-size: 36px;
  font-weight: 400;
  color: #2c3e50;
}
.btn-login {
  color: #2c3e50;
  font-size: 24px;  
}
.label-login-content {
  padding: 10px 0;
  font-size: 17px;
  text-align: justify;
  color: #7f8c8d;
}

/* Search title */
#my_title_search {
  font-size: 22px;
  font-weight: 600;
}

/* Add cursor with menu tab */
#collapseListGroupHeadingVN,
#collapseListGroupHeadingNXB,
#collapseListGroupHeadingTG {
  cursor: pointer;
}

.my_footer {
  width: 100%;
  max-height: 550px;
  padding: 20px;
  background-color: #636e72;
}

.my_footer_icon {
  position: relative;
  width: 50px;
  height: 50px;
  border-radius: 25px;
  background-color: #bdc3c7;
}
.my_icon {
  position: absolute;
  top: 10px;
  left: 9px;
  
  color: #fff;
  font-size: 30px;
}
.my_footer_text {
  color: #f1f2f6;
  font-size: 20px;
}
.my_footer_text_content {
  color: #d7d7d7;
  font-size: 16px;
}

/*  Detail page */
.item_root_detail {
  margin: 5px 20px;
  background-color: #fff;
  border-radius: 5px;
}
.item_detail {
  padding: 5px 0;
  font-size: 18px;
  border-left: solid 5px rgb(248, 248, 248);
}
.item_detail_header {
  padding: 20px 8px;
  border-bottom: solid 4px rgb(248, 248, 248);
}
.item_detail_header > .col-sm-12 > p {
  font-size: 35px;
  color: #636e72;
  
}
.item_detail_header > .col-sm-12 > .row > .col-sm-4 > a:link {
  color: dodgerblue;
  text-decoration: none;
}

.item_detail_price {
  padding: 20px;
  border-bottom: solid 4px rgb(248, 248, 248);
}
.item_price {
  font-size: 30px;
  font-weight: 500;
  color: red;
}
.item_vat {
  padding-left: 3px;
  font-size: 20px;
  color: gray;
  opacity: 0.7;
}
.item_detail_views,
.item_detail_sales {
  font-size: 18px;
  color: gray;
  opacity: 0.7;
}
.item_view,
.item_sale {
  font-size: 20px;
  color: dodgerblue;
}
.item_detail_mota {
  padding: 20px;
  overflow-y: scroll;
  max-height: 300px;
  /* border-bottom: solid 4px rgb(248, 248, 248); */
  
}::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}
.item_detail_info {
  padding: 0 20px 20px 20px;
  color: dimgray;
  text-align: justify;

}
.item_detail_total {
  padding: 5px 0 5px 40px;
}
.item_detail_total > p {
  font-size: 14px;
  color: gray;
  opacity: 0.8;
}
.item_detail_total > .input-group {
  width: 115px;
}
.item_detail_total input,
.item_detail_total button {
  height: 35px;
  text-align: center;
}
.item_detail_add_cart {
  padding: 10px 0;
}
.item_detail_add_cart > button {
  height: 65px;
}

/* Item same type */
.item_same_title {
  padding: 50px 0 0 20px; 
  font-size: 22px;
  font-weight: 400;
  color: #2c3e50;
  text-transform: uppercase;
}
.item_same_type,
.item_same_producer {
  margin: 0px 20px;
  background-color: #fff;
  border-radius: 5px;
}
@media screen and (max-width: 760px) {

  .my_search {
    margin-top: 5px;
    width: 100%;
  }

  .item_same_type > .col-md-2,
  .item_same_producer > .col-md-2 {
    margin-top: 15px;
    width: 100%;
  }
}
@media screen and (min-width: 760px) {

  .my_search {
    margin-top: 5px;
    width: 230%;
  }

  .item_same_type > .col-md-2,
  .item_same_producer > .col-md-2 {
    margin-top: 15px;
    width: 20%;
  }

  .item-cart-root-buy {
    width: 408px;
    position: fixed;
    top: 264px;
    right: 80px;
  }
}

/* Acount info */
#acount-page {
  margin: 20px 40px;
}
.acount-info-list {
  font-size: 18px;
  color: lightgray;
}
.acount-info-list > .list-group > .list-group-item > .glyphicon {
  font-size: 28px;
}
.acount-info-title {
  position: absolute;
  left: 70px;
  top: 13px;
}

.acount-info-list > .list-group > .list-group-item {
  position: relative;
  padding-bottom: 10px;
  height: 50px;
  background-color: rgb(248, 248, 248);
  border: 0 none;
}

.acount-info-list > .list-group > .list-group-item:hover {
  background-color: rgb(236, 236, 236);
}

.acount-info-list > .list-group > .active {
  background-color: rgb(236, 236, 236);
  color: grey;
}

.acount-info-name {
  padding: 5px;
}

.acount-info-name > div {
  font-size: 16px;  
  padding: 2px 80px;
}
.acount-info-name > span {
  font-size: 20px;
  font-weight: 500;
  padding: 2px 80px;
}
.acount-info-name > p {
  font-size: 26px;
  font-weight: 300;
}
.acount-info-panel {
  border-radius: 5px;
  background-color: #fff;
}
.acount-info-panel > .form-horizontal {
  margin: 20px;
  width: 700px;
}

.acount-info-panel .label-login-content {
  font-size: 16px;
  font-weight: 400;
  padding-left: 20px;
  text-align: left;
}

/*  item cart title */
#item-cart-page {
  margin: 20px;
}
#item-cart-page > .row > div.alert {
  margin: 20px 50px 20px 20px;
}

.item-cart-title > .glyphicon {
  font-size: 22px;
  padding-right: 20px;
}
.cart-title {
  padding-left: 0;
  font-size: 20px;
  font-weight: 300;
}

.item-cart-content {
  background-color: #fff;
  border-radius: 5px;
  margin: 0 20px 5px 20px;
  padding: 20px 0;
}


.item-cart-author  {
  padding: 2px 5px;  
  font-size: 16px;
}
.item-cart-author > p:first-child {
  font-size: 20px;
}
.item-cart-author > p:nth-child(3) {
  color: green;
}
.item-cart-author > p:not(:first-child)  {
  padding-top: 10px;
}

.item-cart-price {
  padding: 2px 10px;
  font-size: 18px;
}
.item-cart-price > p:first-child {
  font-size: 24px;
  font-weight: 400;
  color: orangered;
}
.item-cart-total {
  padding: 2px 50px;
  /* width: 100px; */
}
.item-cart-total input {
  text-align: center;
  height: 35px;
  
}
.item-cart-total button {
  height: 35px;
}

.item-cart-buy {
  background-color: #fff;
  border-radius: 10px;
  margin: 0 15px 10px 15px;
}

.item-cart-buy .col-sm-6:first-child {
  font-size: 22px;
  padding: 15px;
  font-weight: 300;
}
.item-cart-buy .col-sm-6:last-child {
  padding: 15px;
}
.item-cart-buy .col-sm-6:last-child > p:first-child {
  font-size: 28px;
  font-weight: 500;
  color: red;
}
.item-cart-buy .col-sm-6:last-child > p:last-child {
  font-size: 17px;
  font-weight: 300;
  padding-top: 0;
}

.item-cart-root-buy button {
  width: 408px;
}

/* Error page styling */
.error-404-baner {
  text-align: center;
}
.error-404-baner-top {
  height: 300px;
  background-color: #3fc6f5;
}
.error-404-baner-top > img {
  padding-top: 40px;
  width: 100%;
}
.error-404-baner-bottom {
  position: relative;  
  height: 120px;
  background-color: rgb(253, 186, 19);
}
.error-404-baner-bottom > img:first-child {
  position: absolute;
  bottom: 5px;
  left: 20%;
  height: 350px;
}
.error-404-baner-bottom > img:not(:first-child){
  position: absolute;
  bottom: 5px;
  left: 35%;
  width: 220px;
}
.error-404-baner-bottom > span{
  position: absolute;
  text-align: justify;
  bottom: 20px;
  width: 390px;
  right: 15%;
  font-size: 26px;
  color: #fff;
  font-weight: 500;
}