/*=============================== start @media ===============================*/

/* 750px */
@media screen and (max-width: 750px) {
    .modal-dialog {
        transform: translateY(-30%)!important;
    }

    #Navigator {
        position: fixed;
    }
        #Navigator > ul > li {
            font-size: 1.3em!important;
            height: 45px!important;
            line-height: 45px!important;
        }

    section, .table-scroll {
        height: 48vh!important;
    }
}

@media screen and (min-width: 750px) {
    .modal-dialog {
        min-width: 700px;
        transform: translateY(-65%)!important;
    }

    #Navigator {
        height: 100vh!important;
    }

    section, .table-scroll {
        height: 62vh!important;
    }
}

/* 1200px */
@media screen and (max-width: 1200px) {
    .btn-add {
        padding-left: 0!important;
    }

    .btn-refresh {
        padding: 0!important;
    }
}

@media screen and (min-width: 1200px) {
    section, .table-scroll {
        height: 72vh!important;
    }
}

/*=============================== end @media ===============================*/

body {
    overflow-x: hidden;
}

.btn-add  {
    padding-right: 15px;
}
    .btn-add > button, .btn-refresh > button {
        width: 100%;
    }

.btn-refresh  {
    padding-right: 15px;
}
    #Products .btn-refresh {
        padding-left: 0;
    }

#Content > :not(:first-child) {
    display: none;
}

.detail-wrapper {
    box-sizing: border-box;
    max-height: 69px;
    overflow-y: auto;
}

div.table-scroll {
    margin-bottom: 10px;
}

h1 {
    font-weight: bolder;
}

.img-wrapper {
    overflow: hidden;
}
    .img-wrapper > img {
        display: block;
        height: 100%;
        margin: 0 auto;
    }
    .img-wrapper-sm {
        height: 64px;
    }
    .img-wrapper-md {
        height: 128px;
    }

.modal-content {
    margin-top: 80%;
}
    .modal-header {
        background-color: #1565C0;
        color: white;
    }
    .modal-body {
        margin-bottom: 0;
        overflow-y: auto;
        padding-left: 5px;
        padding-right: 5px;
    }
        .modal-body > div > input, .modal-body > div > div.btn {
            margin-bottom: 10px;
            width: 100%;
        }
            .modal-body > div > div.btn > input {
                width: 100%;
            }
        .modal-body textarea {
            margin-bottom: 10px;
            height: 170px;
            width: 100%;
        }

#Navigator {
    background-color: #1565C0;
    border-radius: 0;
    padding-right: 0;
    position: relative;
    z-index: 1000;
}
    #Navigator > ul > li {
        display: block;
        font-size: 1.28em;
        font-weight: bolder;
        height: 85px;
        line-height: 85px;
        margin-bottom: 20px;
    }
        #Navigator > ul > li > a {
            color:  white;
        }
            #Navigator > ul > li > a:hover, #Navigator > ul > li > a:active {
                color: black;    
            }
            #Navigator > ul > li > a > span {
                margin-left: 20px;
            }

#Products > div.form-inline > div:nth-child(2) > div {
    padding: 0;
}
    #Products > div.form-inline > button {
        margin-bottom: 20px;
        margin-right: 25px;
    }
#Products tr {
    cursor: pointer;
    max-height: 50px;
}
    #Products td:last-child {
        width: 30%;
    }

section {
    height: 100vh;
    padding: 25px;
}
    section > .form-inline > * {
        margin-bottom: 15px;
    }

select {
    width: 100%!important;
}

.table-scroll {
    overflow-y: auto;
}

thead {
    background: whitesmoke;
}

textarea {
    resize: none;
}