body {
  font-size: 15px;
  padding-top: 85px;
  background-color: rgb(248, 248, 248);
}
.my_main_logo {
  padding: 7px 3px 3px 5px;
  /* text-transform: uppercase; */
  font-weight: 700;
  background-image: linear-gradient(to right, #7ed56f, #28b485);
  display: inline-block;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 0.2rem;
  font-size: 30px;
}
.my_search {
  margin-top: 5px;
  width: 250%;
}
.my_account {
  margin: 5px 0 0 0;
}
.my_account_logo {
  font-size: 35px;
  color: #7f8c8d;
}
.my_shopping_cart {
  margin: 10px 10px 0 0;
}
/*height*/
.height-50 {height: 55px !important;}
/*padding*/
.padding_bottom_big { padding-bottom: 20px !important; }
.padding_top_big { padding-top: 20px !important; }
.padding_top_small { padding-top: 10px !important; }
.padding_bottom_large {padding-top: 30px !important;}
/*margin*/
.margin-top-small {margin-top: 10px !important;}
.margin-bottom-small {margin-bottom: 5px !important;}
.margin-left-small { margin-left: 10px; }
.margin-left-big { margin-left: 50px; }
/*font size*/
.fs-20 {font-size: 20px !important; }
.fs-19 {font-size: 19px}
.fs-18 {font-size: 18px}
.fs-17 {font-size: 17px}
.fs-12 {font-size: 12px}
/*font weight*/
.fw-700 {font-weight: 700};
.fw-bold {font-weight: bold};
/*bg color*/
.bg-blue {background-color: #3498db !important;}
.bg-red {background-color: #e74c3c !important;}
.clr_green { color: green; }
.clr_red { color: red; }
.clr_orange { color: orange; }
.clr_blue { color: #ced6e0;}

.panel-title-header {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 700;
}
/* .alert {
  transition: all 0.2s;
}
.alert:hover {
  transform: translateY(-5px);
} */
.row > .col-md-3 > img {
  border-radius: 5px;
  cursor: pointer;
}
.row > .col-md-3 > img:hover {
  box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);
}
.thumbnail {
  cursor: pointer;
}
.thumbnail:hover {
  box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.5);
}

.my_height {
  height: 315px;
}

.my_banner_cover {
  width: 100%
}

.price-tag {
  font-weight: 700;
  font-size: 16px;
}
.label-login {
  margin: 0;
  font-size: 36px;
  font-weight: 400;
  color: #2c3e50;
}
.btn-login {
  color: #2c3e50;
  font-size: 24px;  
}
.label-login-content {
  padding: 10px 0;
  font-size: 17px;
  text-align: justify;
  color: #7f8c8d;
}

.my_footer {
  width: 100%;
  max-height: 550px;
  padding: 20px;
  background-color: #636e72;
}
.my_footer_icon {
  position: relative;
  width: 50px;
  height: 50px;
  border-radius: 25px;
  background-color: #bdc3c7;
}
.my_icon {
  position: absolute;
  top: 10px;
  left: 9px;
  
  color: #fff;
  font-size: 30px;
}
.my_footer_text {
  color: #f1f2f6;
  font-size: 20px;
}
.my_footer_text_content {
  color: #d7d7d7;
  font-size: 16px;
}

/*  Detail page */
.item_root_detail {
  margin: 5px 20px;
  background-color: #fff;
  border-radius: 5px;
}
.item_detail {
  padding: 5px 0;
  font-size: 18px;
  border-left: solid 4px rgb(248, 248, 248);
}
.item_detail_header {
  padding: 20px 8px;
  border-bottom: solid 2px rgb(248, 248, 248);
}
.item_detail_header > .col-sm-12 > p {
  font-size: 35px;
  color: #636e72;
  
}
.item_detail_header > .col-sm-12 > .row > .col-sm-4 > a:link {
  color: dodgerblue;
  text-decoration: none;
}

.item_detail_price {
  padding: 20px;
  border-bottom: solid 2px rgb(248, 248, 248);
}
.item_price {
  font-size: 30px;
  font-weight: 500;
  color: red;
}
.item_vat {
  padding-left: 3px;
  font-size: 20px;
  color: gray;
  opacity: 0.7;
}
.item_detail_views,
.item_detail_sales {
  font-size: 18px;
  color: gray;
  opacity: 0.7;
}
.item_view,
.item_sale {
  font-size: 20px;
  color: dodgerblue;
}
.item_detail_mota {
  padding: 20px;
}
.item_detail_info {
  padding: 0 20px 20px 20px;
  color: dimgray;
  text-align: justify;

}
.item_detail_total {
  width: 145px;
}
.item_detail_total > p {
  padding: 0;
  font-size: 14px;
  color: gray;
  opacity: 0.8;
}
.item_detail_total > .input-group > input.form-control {
  text-align: center;
}
.item_detail_add_cart {
  padding: 10px 5px;
}
.item_detail_add_cart > button {
  height: 65px;
}