<div class="col-sm-12 col-md-3">
  <div class="row">
    <div class="col-sm-12 acount-info-name">
      <div>Tài khoản của: </div>
      <span>Trần Trung Tính</span>
    </div>
    <div class="col-sm-12 acount-info-list">
      <div class="list-group">
        <a href="javascript:;" class="list-group-item active" id="acount-info">
          <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
          <span class="acount-info-title">Thông tin tài khoản</span>
        </a>
        <a href="javascript:;" class="list-group-item" id="acount-history">
          <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
          <span class="acount-info-title">Lịch sử mua hàng</span>
        </a>
        <a href="javascript:;" class="list-group-item" id="btn-logout">
          <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>
          <span class="acount-info-title">Đăng xuất</span>
        </a>
      </div>
    </div>
  </div>
  
</div>
<div class="col-sm-12 col-md-9">
  <div class="row">
    <div class="col-sm-12 acount-info-name">
      <p>Thông tin tài khoản</p>
    </div>
    <div class="col-sm-12 acount-info-panel">
      <div class="form-horizontal">
        <div class="form-group">
          <label for="inputAcountName" class="col-sm-2 control-label label-login-content">Họ tên</label>
          <div class="col-sm-10">
            <input type="text" class="form-control input-lg" id="inputAcountName" placeholder="Trần Trung Tính">
          </div>
        </div>
        <div class="form-group">
          <label for="inputAcountPhone" class="col-sm-2 control-label label-login-content">Số điện thoại</label>
          <div class="col-sm-10">
            <input type="text" class="form-control input-lg" id="inputAcountPhone" placeholder="0979899100">
          </div>
        </div>
        <div class="form-group">
          <label for="inputAcountEmail" class="col-sm-2 control-label label-login-content">Email</label>
          <div class="col-sm-10">
            <input type="email" class="form-control input-lg" id="inputAcountEmail" placeholder="trantrungtinh@gmail.com" disabled />
          </div>
        </div>
        <div class="form-group">
          <label for="inlineRadioOptions" class="col-sm-2 control-label label-login-content">Giới tính:</label>
          <div class="col-sm-10">
            <label class="radio-inline">
              <input type="radio" name="inlineRadioOptions" id="genderMale" checked/>
              <img src="./assets/media/images/glyphicons/png/glyphicons-35-old-man.png" alt="" />
            </label>
            <label class="radio-inline">
              <input type="radio" name="inlineRadioOptions" id="genderFemale" />
              <img src="./assets/media/images/glyphicons/png/glyphicons-36-woman.png" alt="" />
            </label>
          </div>
        </div>
        <div class="form-group">
          <label for="inputAcountBirthday" class="col-sm-2 control-label label-login-content">Ngày sinh</label>
          <div class="col-sm-10">
            <div class="col-xs-4">
              <select class="form-control">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
                <option>6</option>
                <option>7</option>
                <option>8</option>
                <option>9</option>
                <option>10</option>
              </select>
            </div>
            <div class="col-xs-4">
              <select class="form-control">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
                <option>5</option>
                <option>6</option>
                <option>7</option>
                <option>8</option>
                <option>9</option>
                <option>10</option>
                <option>11</option>
                <option>12</option>
              </select>
            </div>
            <div class="col-xs-4">
              <select class="form-control">
                <option>1990</option>
                <option>1991</option>
                <option>1992</option>
                <option>1993</option>
                <option>1994</option>
                <option>1995</option>
                <option>1996</option>
                <option>1997</option>
                <option>1998</option>
                <option>1999</option>
                <option></option>
              </select>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <button type="button" class="btn btn-warning btn-lg btn-login" id="btn-update">Cập nhật tài khoản</button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-12 acount-history-panel">
      <table class="table table-hover">
        <tr>
          <th>Mã đơn hàng</th>
          <th>Ngày mua</th> 
          <th>Sản phẩm</th>
          <th>Tổng tiền</th> 
          <th>Trạng thái</th>
        </tr>
        <tr>
          <td><a href="">225814527</a></td>
          <td>11/04/2018</td> 
          <td>Chi con mot ngay de song</td>
          <td>159.000 ₫</td> 
          <td>Giao hàng thành công</td>
        </tr>
        <tr>
          <td><a href="">225814528</a></td>
          <td>19/04/2018</td> 
          <td>Chang co gi la khong the</td>
          <td>259.000 ₫</td> 
          <td>Giao hàng thành công</td>
        </tr>
      </table>
    </div>
  </div>
</div>