<div class="col-sm-12 col-md-3">
  <div class="row">
    <div class="col-sm-12 acount-info-name">
      <div>Tài khoản của: </div>
      <span>Trần Trung Tính</span>
    </div>
    <div class="col-sm-12 acount-info-list">
      <div class="list-group">
        <a href="javascript:;" class="list-group-item active" id="acount-info">
          <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
          <span class="acount-info-title">Thông tin tài khoản</span>
        </a>
        <a href="javascript:;" class="list-group-item" id="acount-history">
          <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
          <span class="acount-info-title">Lịch sử mua hàng</span>
        </a>
        <a href="javascript:;" class="list-group-item" id="btn-logout">
          <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>
          <span class="acount-info-title">Đăng xuất</span>
        </a>
      </div>
    </div>
  </div>
  
</div>
<div class="col-sm-12 col-md-9">
  <div class="row">
    <div class="col-sm-12 acount-info-name">
      <p>Thông tin tài khoản</p>
    </div>
    <div class="col-sm-12 acount-history-panel">
      <table class="table table-hover">
        <tr>
          <th>Mã đơn hàng</th>
          <th>Ngày mua</th> 
          <th>Sản phẩm</th>
          <th>Tổng tiền</th> 
          <th>Trạng thái</th>
        </tr>
        <tr>
          <td><a href="">225814527</a></td>
          <td>11/04/2018</td> 
          <td>Chi con mot ngay de song</td>
          <td>159.000 ₫</td> 
          <td>Giao hàng thành công</td>
        </tr>
        <tr>
          <td><a href="">225814528</a></td>
          <td>19/04/2018</td> 
          <td>Chang co gi la khong the</td>
          <td>259.000 ₫</td> 
          <td>Giao hàng thành công</td>
        </tr>
      </table>
    </div>
  </div>
</div>