
<div class="row">
  <div class="col-sm-12">
    <div class="alert alert-warning margin-bottom-small fs-20">
      <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
      Kết quả tìm kiếm cho '<span id="my_title_search"></span>': 
      <span id="my_result_search">12</span> kết quả.
    </div>
  </div>
  <div class="col-sm-4 col-md-3">
    <div class="thumbnail">
      <img src="./assets/media/images/book01.jpg" alt="..." class="my_banner_cover">
      <div class="caption">
        <h4>Chi con mot ngay de song</h4>
        <p><span class="price-tag">59.000&nbsp;₫</span> <strike>98.000&nbsp;₫</strike></p>
        <p>So luong da ban: <span class="badge">10</span></p>
        <button type="button" class="btn btn-danger btn-block btn-lg">
          <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>
          <span>Thêm vào giỏ hàng</span>
        </button>
      </div>
    </div>
  </div>
  <div class="col-sm-4 col-md-3">
    <div class="thumbnail">
      <img src="./assets/media/images/book02.jpg" alt="..." class="my_banner_cover">
      <div class="caption">
        <h4>Chi con mot ngay de song</h4>
        <p><span class="price-tag">59.000&nbsp;₫</span> <strike>98.000&nbsp;₫</strike></p>
        <p>So luong da ban: <span class="badge">10</span></p>
        <button type="button" class="btn btn-danger btn-block btn-lg">
          <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>
          <span>Thêm vào giỏ hàng</span>
        </button>
      </div>
    </div>
  </div>
  <div class="col-sm-4 col-md-3">
    <div class="thumbnail">
      <img src="./assets/media/images/book03.jpg" alt="..." class="my_banner_cover">
      <div class="caption">
        <h4>Chi con mot ngay de song</h4>
        <p><span class="price-tag">59.000&nbsp;₫</span> <strike>98.000&nbsp;₫</strike></p>
        <p>So luong da ban: <span class="badge">10</span></p>
        <button type="button" class="btn btn-danger btn-block btn-lg">
          <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>
          <span>Thêm vào giỏ hàng</span>
        </button>
      </div>
    </div>
  </div>
  <div class="col-sm-4 col-md-3">
    <div class="thumbnail">
      <img src="./assets/media/images/book04.jpg" alt="..." class="my_banner_cover">
      <div class="caption">
        <h4>Chi con mot ngay de song</h4>
        <p><span class="price-tag">59.000&nbsp;₫</span> <strike>98.000&nbsp;₫</strike></p>
        <p>So luong da ban: <span class="badge">10</span></p>
        <button type="button" class="btn btn-danger btn-block btn-lg">
          <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>
          <span>Thêm vào giỏ hàng</span>
        </button>
      </div>
    </div>
  </div>
  <div class="col-sm-4 col-md-3">
    <div class="thumbnail">
      <img src="./assets/media/images/book05.jpg" alt="..." class="my_banner_cover">
      <div class="caption">
        <h4>Chi con mot ngay de song</h4>
        <p><span class="price-tag">59.000&nbsp;₫</span> <strike>98.000&nbsp;₫</strike></p>
        <p>So luong da ban: <span class="badge">10</span></p>
        <button type="button" class="btn btn-danger btn-block btn-lg">
          <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>
          <span>Thêm vào giỏ hàng</span>
        </button>
      </div>
    </div>
  </div>
  <div class="col-sm-4 col-md-3">
    <div class="thumbnail">
      <img src="./assets/media/images/book06.jpg" alt="..." class="my_banner_cover">
      <div class="caption">
        <h4>Chi con mot ngay de song</h4>
        <p><span class="price-tag">59.000&nbsp;₫</span> <strike>98.000&nbsp;₫</strike></p>
        <p>So luong da ban: <span class="badge">10</span></p>
        <button type="button" class="btn btn-danger btn-block btn-lg">
          <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>
          <span>Thêm vào giỏ hàng</span>
        </button>
      </div>
    </div>
  </div>
  <div class="col-sm-4 col-md-3">
    <div class="thumbnail">
      <img src="./assets/media/images/book07.jpg" alt="..." class="my_banner_cover">
      <div class="caption">
        <h4>Chi con mot ngay de song</h4>
        <p><span class="price-tag">59.000&nbsp;₫</span> <strike>98.000&nbsp;₫</strike></p>
        <p>So luong da ban: <span class="badge">10</span></p>
        <button type="button" class="btn btn-danger btn-block btn-lg">
          <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>
          <span>Thêm vào giỏ hàng</span>
        </button>
      </div>
    </div>
  </div>
  <div class="col-sm-4 col-md-3">
    <div class="thumbnail">
      <img src="./assets/media/images/book08.jpg" alt="..." class="my_banner_cover">
      <div class="caption">
        <h4>Chi con mot ngay de song</h4>
        <p><span class="price-tag">59.000&nbsp;₫</span> <strike>98.000&nbsp;₫</strike></p>
        <p>So luong da ban: <span class="badge">10</span></p>
        <button type="button" class="btn btn-danger btn-block btn-lg">
          <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>
          <span>Thêm vào giỏ hàng</span>
        </button>
      </div>
    </div>
  </div>
  <div class="col-sm-4 col-md-3">
    <div class="thumbnail">
      <img src="./assets/media/images/book09.jpg" alt="..." class="my_banner_cover">
      <div class="caption">
        <h4>Chi con mot ngay de song</h4>
        <p><span class="price-tag">59.000&nbsp;₫</span> <strike>98.000&nbsp;₫</strike></p>
        <p>So luong da ban: <span class="badge">10</span></p>
        <button type="button" class="btn btn-danger btn-block btn-lg">
          <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>
          <span>Thêm vào giỏ hàng</span>
        </button>
      </div>
    </div>
  </div>
  <div class="col-sm-4 col-md-3">
    <div class="thumbnail">
      <img src="./assets/media/images/book10.jpg" alt="..." class="my_banner_cover">
      <div class="caption">
        <h4>Chi con mot ngay de song</h4>
        <p><span class="price-tag">59.000&nbsp;₫</span> <strike>98.000&nbsp;₫</strike></p>
        <p>So luong da ban: <span class="badge">10</span></p>
        <button type="button" class="btn btn-danger btn-block btn-lg">
          <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>
          <span>Thêm vào giỏ hàng</span>
        </button>
      </div>
    </div>
  </div>
  <div class="col-sm-4 col-md-3">
    <div class="thumbnail">
      <img src="./assets/media/images/book01.jpg" alt="..." class="my_banner_cover">
      <div class="caption">
        <h4>Chi con mot ngay de song</h4>
        <p><span class="price-tag">59.000&nbsp;₫</span> <strike>98.000&nbsp;₫</strike></p>
        <p>So luong da ban: <span class="badge">10</span></p>
        <button type="button" class="btn btn-danger btn-block btn-lg">
          <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>
          <span>Thêm vào giỏ hàng</span>
        </button>
      </div>
    </div>
  </div>
  <div class="col-sm-4 col-md-3">
    <div class="thumbnail">
      <img src="./assets/media/images/book02.jpg" alt="..." class="my_banner_cover">
      <div class="caption">
        <h4>Chi con mot ngay de song</h4>
        <p><span class="price-tag">59.000&nbsp;₫</span> <strike>98.000&nbsp;₫</strike></p>
        <p>So luong da ban: <span class="badge">10</span></p>
        <button type="button" class="btn btn-danger btn-block btn-lg">
          <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>
          <span>Thêm vào giỏ hàng</span>
        </button>
      </div>
    </div>
  </div>
  <div class="col-sm-12 item-list-page">
    <nav aria-label="Page navigation">
      <ul class="pagination  pagination-lg">
        <li>
          <a href="#" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
        <li class="active"><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li>
          <a href="#" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</div>
<script>
  $('#my_title_search').html(localStorage.getItem('keyWord'));
</script>

