<div class="col-sm-12 col-md-3">
  <div class="row">
    <div class="col-sm-12 acount-info-name">
      <img src="./assets/media/images/avatar.png" alt="avater" class="avater-cover"/>
      <div>Tài khoản của: </div>
      <span>aaa</span>
    </div>
    <div class="col-sm-12 acount-info-list">
      <div class="list-group">
        <a href="javascript:;" class="list-group-item" id="acount-info">
          <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
          <span class="acount-info-title">Thông tin tài khoản</span>
        </a>
        <a href="javascript:;" class="list-group-item" id="acount-history">
          <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
          <span class="acount-info-title">Lịch sử mua hàng</span>
        </a>
        <a href="javascript:;" class="list-group-item active" id="acount-address">
          <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
          <span class="acount-info-title">Địa chỉ giao hàng</span>
        </a>
        <a href="javascript:;" class="list-group-item" id="btn-logout">
          <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>
          <span class="acount-info-title">Đăng xuất</span>
        </a>
      </div>
    </div>
  </div>
</div>
<div class="col-sm-12 col-md-9">
    <div class="row">
      <div class="col-sm-12 acount-info-name">
        <p>Địa chỉ giao hàng</p>
      </div>
      <div class="col-sm-12 acount-info-panel">
        
      </div>
    </div>
  </div>