<!DOCTYPE html>
<html>
    <%- include('../header/header.ejs') %>
<body>
  <%- include('../header/navigation.ejs') %>
  <div class="wrap">
    <div class="error-404-baner">
      <div class="error-404-baner-top">
        <img src="./assets/media/images/city-cloud.png" alt="error-404-baner">
      </div>
      <div class="error-404-baner-bottom">
        <img src="./assets/media/images/super.png" alt="error-404-super">
        <img src="./assets/media/images/404.png" alt="error-404-status">
        <span>Xin lỗi, trang bạn đang tìm kiếm không tồn tại !</span>
      </div>
    </div>
  </div>
  <%- include('../footer/footer.ejs') %>
  <%- include('../footer/script.ejs') %>
</body>
</html>
<script src="reload/reload.js"></script>