<html lang="en">
<head>
    <base href="http://localhost:3000">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Admin | Book eStore</title>
    <link rel="shortcut icon" href="./assets/media/icon/icon.ico" type="image/x-icon">
    <link rel="stylesheet" href="./assets/css/normalize.css">
    <link rel="stylesheet" href="./assets/css/bootstrap.min.css">
</head>

<body>
    
    <% if(isLogin) { %>
        <%- include('../body/admin/admin.home.ejs') %>
    <% } else { %>
        <%- include('../body/admin/admin.login.ejs') %>
    <% } %>
    <script src="./assets/js/jquery-3.3.1.min.js"></script>
    <script src="./assets/js/bootstrap.min.js"></script>
</body>

</html>