<html lang="en">
<head>
    <base href="http://localhost:3000">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Admin | Login</title>
    <link rel="shortcut icon" href="./assets/media/icon/icon.ico" type="image/x-icon">
    <link rel="stylesheet" href="./assets/css/normalize.css">
    <link rel="stylesheet" href="./assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="./assets/css/admin_style_login.css">
    
</head>

<body>
<div class="container">
  <div class="modal" id="DetailModal" role="dialog" style="display: block;">
      <div class="modal-dialog ">
          <div class="modal-content">
              <form action="" method="POST">
                  <div class="modal-header">
                      <h1 class="modal-title">Quản trị</h1>
                      <h2 class="modal-title">Book eStore</h2>
                  </div>
                  <div class="modal-body form-group">
                      <input type="text" name="Username" id="" class="form-control" placeholder="Email" required autocomplete="on" autofocus>
                      <input type="text" name="Password" id="" class="form-control" placeholder="Password" required>
                  </div>
                  <div class="modal-footer">
                      <input type="submit" class="btn btn-primary" id="ModalLogin" value="Đăng nhập" />
                  </div>
              </form>
          </div>
      </div>
  </div>
</div>
<script src="./assets/js/jquery-3.3.1.min.js"></script>
    <script src="./assets/js/bootstrap.min.js"></script>
</body>

</html>
