<div class="container">
  <div class="modal" id="DetailModal" role="dialog" style="display: block;">
      <div class="modal-dialog ">
          <div class="modal-content">
              <form action="" method="POST">
                  <div class="modal-header">
                      <h1 class="modal-title">Quản trị</h1>
                      <h2 class="modal-title">Book eStore</h2>
                  </div>
                  <div class="modal-body form-group">
                      <input type="text" name="Username" id="" class="form-control" placeholder="Email" required autocomplete="on" autofocus>
                      <input type="text" name="Password" id="" class="form-control" placeholder="Password" required>
                  </div>
                  <div class="modal-footer">
                      <input type="submit" class="btn btn-primary" id="ModalLogin" value="Đăng nhập" />
                  </div>
              </form>
          </div>
      </div>
  </div>
</div>
