<tr data-toggle="modal" data-target="#DetailModal">
  <td class="img-wrapper img-wrapper-sm">
      <img src="./assets/media/images/book01.jpg" alt="Hình ảnh">
  </td>
  <td>0312</td>
  <td>Chuyện Về Những Người Cô Đơn</td>
  <td>257000</td>
  <td>69</td>
  <td>Hạ Vũ</td>
  <td>Truyện ngắn</td>
  <td>Nhà xuất bản Kim Đồng</td>
  <td>
      <p class="detail-wrapper">
          "Cứ mở lòng với một người, bước vào một cuộc tình là xảy ra chuyện. Dù biết rằng không hạnh phúc nào dễ có, không bình yên
          nào là êm đềm, chẳng đánh đổi bao xót xa, nhưng dù họ có đánh đổi, cố gắng thế nào thì kết cục vẫn là sự chia
          ly và trở về với sự cô đơn. Thật đáng buồn! Vậy nên câu chuyện về những người cô đơn sẽ còn nữa… Vì trên thế
          giới này có rất nhiều những người cô đơn…"
      </p>
  </td>
</tr>
<tr data-toggle="modal" data-target="#DetailModal">
  <td class="img-wrapper img-wrapper-sm">
      <img src="./assets/media/images/book02.jpg" alt="Hình ảnh">
  </td>
  <td>0203</td>
  <td>Lật Đổ Ông Vua Trì Hoãn</td>
  <td>51350</td>
  <td>567</td>
  <td>Oopsy</td>
  <td>Sách kĩ năng</td>
  <td>Nhà Xuất Bản Thế Giới</td>
  <td>
      <p class="detail-wrapper">
          16 cách giúp bạn làm chủ thời gian, tăng cường hiệu suất Bạn đang là một nhân viên công sở hay một lãng tử freelancer giữa
          đô thị rộng lớn này? Nơi bạn đang sống là thế giới đô thị và công sở - chỗ thời gian vốn ít ỏi mà công việc thì
          tứ tung. Điều kì lạ là càng ở trong một chỗ ít thời giờ mà lắm áp lực như thế giới hiện đại này, các "vua trì
          hoãn" như thể càng có "đất" để xuất hiện nhiều, ta có thể bắt gặp họ ở khắp nơi, điển hình như chàng Thắng chúng
          ta đang nói đến trong cuốn sách LẬT ĐỔ ÔNG VUA TRÌ HOÃN NÀY. Nhưng, bạn có muốn đời mình mãi vật vờ như một nhân
          viên thường thường bậc trung, ở công sở thì tất bật nhưng kết quả công việc chẳng đâu vào đâu, về nhà thì cáu
          kỉnh với gia đình, hay ngập chìm trong những mối quan hệ, những cuộc bù khú không hồi kết và khiến thân, tâm,
          trí mỏi mệt. Ngoảnh đi ngoảnh lại, bạn thấy mình 30 và mãi vẫn chưa trưởng thành, kĩ năng công việc thì gần như
          dậm chân tại chỗ, thậm chí còn sa sút. LẬT ĐỔ ÔNG VUA TRÌ HOÃN ngay bây giờ mang đến cho bạn những cách thức
          trực tiếp và hiệu quả nhất: Giúp bạn hiểu rõ những nguyên nhân thuộc về thân thể, tâm trí, cảm xúc khiến bạn
          luôn luôn rơi vào trạng thái trì hoãn và trực “nổ” tung; Giúp bạn có thể lập tức thực hành để từng bước làm chủ
          thời gian, sắp xếp công việc và tăng cường hiệu suất làm việc, trong khi vẫn có thể dành thời gian cho bản thân,
          gia đình và những mục tiêu dài hạn của bạn trong tương lai. Giúp bạn có cái nhìn cận cảnh, xác thực và đúng đắn
          hơn về cách mình đang sống, đang làm việc để cải sửa bản thân. Chỉ cần bạn cải sửa một điều, thì toàn bộ con
          người bạn, cuộc sống của bạn và đời bạn cũng thay đổi theo một chiều hướng tích cực không ngờ. Bởi thói trì hoãn
          không chỉ là khiến tuổi trẻ của bạn qua đi chóng vánh, mà còn khiến đời bạn đi vào chỗ bê bối mà bạn không bao
          giờ ngờ tới. Vậy thì, đây là cuốn cẩm nang dành cho bạn, để sống một tuổi trẻ sáng lạn và một cuộc đời trọn vẹn.
          Trên hết thảy, thời gian của bạn là quý giá. Bởi thể, không cần đến những câu chữ diễn giải lê thê dài dòng.
          Tất cả những bí kíp giắt lưng đều được trình bày bằng hình vẽ sinh động, dễ hiểu, vui vẻ. Và đây là Thắng, bạn
          sẽ thấy được đồng cảm hay đỏ mặt xấu hổ khi thấy mình trong đó đây? Nhưng, có một điều chắc chắn, bạn sẽ được
          cổ vũ và trở thành người bạn đồng hành của Thắng trong chiến dịch chống lại ông vua trì hoãn đang ngự trị vương
          quốc đời bạn. Lời chào đầu trong cuốn sách Xin chào! Chào mừng đến với thế giới của Thắng - anh chàng được mệnh
          danh là "Vua trì hoãn". Nơi Thắng sống là thế giới đô thị và công sở - chỗ thời gian vốn ít ỏi mà công việc thì
          tứ tung! Điều kì lạ là càng ở trong một chỗ ít thời giờ mà lắm áp lực như thế giới hiện đại này, các "vua trì
          hoãn" như thể càng có "đất" để xuất hiện nhiều, ta có thể bắt gặp họ ở khắp nơi, điển hình như chàng Thắng chúng
          ta đang nói đến. Thắng thích dùng thì giờ một cách lộn xộn, luôn trễ deadline với đủ lời ngụy biện khuất lấp,
          và tự trào rất hay ho rằng "Đây là cách ta chống lại các áp lực ngoài kia!". Anh thường lên mạng lướt Facebook,
          xem những bộ phim vui vẻ, hoặc lên skype chat với bạn bè,… cho đến khi công việc dồn đống và ứ đọng thành một
          ngọn sóng cao vút đổ ụp xuống đầu anh. Lúc ấy Thắng lại lặn ngụp một cách chậm chạp và loay hoay trong biển deadline,
          làm làm một lúc rồi lại nghỉ ngơi ngơi nghỉ. Đột nhiên một ngày, cũng như nhiều lần đột nhiên khác đã từng xảy
          ra, Thắng thấy mệt mỏi và cáu bực, anh ta than vãn với mọi người rằng, anh ta chẳng có thời gian để làm gì cả!
          Việc này chưa xong việc khác đã tới! Sức thì ít mà việc thì nhiều! Bla bla bla… Cứ thế cứ thế, Thắng tiếp tục
          rơi vào vòng nghỉ ngơi - chật vật giải quyết - nghỉ ngơi - việc không hoàn thành - cáu bực stress - nghỉ ngơi,
          cho đến một ngày anh ta biến thành "Vua trì hoãn", một cách gọi "vui vẻ" của Kẻ luôn bất lực và thấy đời sao
          mà nhiều bất công! Thế thì bây giờ Thắng của chúng ta phải làm gì đây? Anh ta có muốn thoát khỏi tình trạng này
          không nhỉ? Những người giống Thắng sẽ có cảm nhận gì trước tình trạng mệt mỏi bất lực thường xuyên của mình?
          Cuộc đời vật vờ và không có thành tựu gì hẳn là cái giá buồn bã mà Thắng đã tự chọn khi sống như một "vua trì
          hoãn". Còn bạn thì sao? Hi vọng là bạn không thế, ít ra thì bạn đã chọn cuốn sách này! Vậy là chúng ta có thể
          bắt đầu cho nhau một cơ hội để thay đổi rồi. Hãy bắt đầu nào!


      </p>
  </td>
</tr>
<tr data-toggle="modal" data-target="#DetailModal">
  <td class="img-wrapper img-wrapper-sm">
      <img src="./assets/media/images/book03.jpg" alt="Hình ảnh">
  </td>
  <td>0134</td>
  <td>Thất Tình Không Sao</td>
  <td>44000</td>
  <td>832</td>
  <td>Nguyễn Ngọc Thạch</td>
  <td>Truyện ngắn</td>
  <td>Nhà Xuất Bản Hội Nhà Văn</td>
  <td>
      <p class="detail-wrapper">
          Thất Tình Không Sao Sự trở lại của Nguyễn Ngọc Thạch với làng sách sau hai năm vắng bóng vì đau khổ do thất tình. Khác với
          những tác phẩm trước đây, thường mang màu sắc gai góc, u ám khi nói về phận người phận đời, những nỗi cô đơn
          đặc quánh khiến người ta nghẹt thở,“Thất tình không sao” là này được viết với tâm thế khác, của một người trưởng
          thành, tập trung cho công việc và tạo ra những điều tích cực thay vì chỉ ngồi than vãn về nỗi buồn chán trong
          tình yêu. Câu chuyện thất tình của mỗi người vô cùng đa dạng, cứ mỗi người tình đi qua người ta lại thêm một
          trải nghiệm. Đối diện với nỗi đau đó lại càng muôn màu muôn vẻ hơn. Có người đớn đau vật vã, có kẻ bình tĩnh
          khác thường, có người nhấp chén tiêu sầu càng sầu thêm. Có người chọn cách đi du lịch, rời khỏi mảnh đất tang
          thương lòng người trắc trở, xong hết tiền rồi quay về thấy mảnh đất đó còn tang thương hơn. Bằng kinh nghiệm
          của mười năm tình trường, đã từng yêu, được yêu lẫn bị yêu, từng phản bội và bị phản bội, Thạch ghi lại câu bí
          quyết để người ta tụng niệm mỗi khi lòng đớn đau tình ái. - “Thất nghiệp mới chết,Thất tình không sao…” Đọc xong
          cuốn sách, chỉ mong những ai đang đớn đau sẽ đứng dậy, mạnh mẽ lên, xinh đẹp hơn rồi bước đi tiếp, vì vốn dĩ
          đời còn dài, trai gái còn đầy, đừng vì một cành cây mà bỏ qua khu rừng xanh mát.
      </p>
  </td>
</tr>
<tr data-toggle="modal" data-target="#DetailModal">
  <td class="img-wrapper img-wrapper-sm">
      <img src="./assets/media/images/book04.jpg" alt="Hình ảnh">
  </td>
  <td>0417</td>
  <td>Tôi Tài Giỏi - Bạn Cũng Thế</td>
  <td>77000</td>
  <td>278</td>
  <td>Adam Khoo</td>
  <td>Sách kinh tế</td>
  <td>Nhà Xuất Bản Phụ Nữ</td>
  <td>
      <p class="detail-wrapper">
          Khi bạn cầm trên tay quyển sách này, có nghĩa là bạn đã có chiếc chìa khóa đến sự thành công cùng bảng hướng dẫn sử dụng.
          Trong chúng ta, bất kỳ ai cũng muốn chính bản thân mình trở thành người tài giỏi, có thể giải quyết mọi vấn đề
          một cách hiệu quả nhất. Và để có được những điều đó quyển sách này sẽ giúp bạn bằng những hướng dẫn học tập chi
          tiết nhất. Tác giả không chỉ đơn thuần giải thích người khác đã thành công như thế nào, mà còn nói làm sao để
          họ làm được như thế để giúp người đọc khám phá ra tiềm năng của bản thân, và phát huy điều đó. Ngoài ra, sách
          còn cung cấp những phương pháp học thông minh (như áp dụng các công cụ học bằng cả não bộ như Sơ Đồ Tư Duy, phát
          triển trí nhớ siêu việt để ghi nhớ các sự kiện, con số một cách dễ dàng, thành thạo việc quản lý thời gian và
          xác định mục tiêu). Adam Khoo đã cho thấy, tài giỏi mang lại sự tự tin như thế nào và còn hướng dẫn bạn cách
          thức trở thành người tài giỏi. Qua đó độc giả sẽ lập được kế hoạch cho cuộc đời của chính mình. Tôi Tài Giỏi
          - Bạn Cũng Thế sẽ giúp tìm ra giải pháp tốt nhất cho mọi vấn đề, và giúp nhận ra cách thức để thành công. Tuy
          nhiên để làm một người tài giỏi thì người đọc cần đặt quyển sách xuống và thực thi ngay các kế hoạch. Đương nhiên,
          không phải chỉ chăm chỉ ngày một, ngày hai mà mỗi người phải thực hiện lâu dài, thậm chí cả đời thì mới đạt được
          những gì mình muốn. Thật sự đây là một quyển sách rất tuyệt vời và bổ ích, đem lại cho chúng ta những kinh nghiệm
          quý báu. Một quyển sách không - thể - thiếu trong tủ sách!
      </p>
  </td>
</tr>
<tr data-toggle="modal" data-target="#DetailModal">
  <td class="img-wrapper img-wrapper-sm">
      <img src="./assets/media/images/book05.jpg" alt="Hình ảnh">
  </td>
  <td>0222</td>
  <td>Tuổi Trẻ Không Trì Hoãn</td>
  <td>57200</td>
  <td>449</td>
  <td>Thần Cách</td>
  <td>Sách kĩ năng</td>
  <td>Nhà Xuất Bản Thế Giới</td>
  <td>
      <p class="detail-wrapper">
          Có phải bạn luôn rơi vào những tình trạng: Đã nói năm nay bắt đầu tập gym nhưng vì rất nhiều nguyên nhân mà tới nay vẫn chưa
          thực hiện; Đứng trước căn phòng bừa bộn, trong đầu đã xuất hiện hai từ “dọn dẹp” không biết bao nhiêu lần nhưng
          rồi lại nghĩ thôi để hôm sau; Khi hẹn hò, luôn luôn đến muộn như một thói quen; Đã làm xong kế hoạch nhưng cảm
          thấy vẫn chưa đủ hoàn hảo và thế là chần chừ không bắt đầu, vân vân... Nếu những tình huống này chỉ thỉnh thoảng
          xảy ra thì không có gì đáng lo; nhưng với tần suất khá thường xuyên, thậm chí thành một thói quen khó sửa thì
          phải chú ý. Bởi đó chính là bệnh “trì hoãn”. Trì hoãn là sát thủ của thời gian. Nó sẽ rút ngắn độ dài tuổi thọ
          của chúng ta, khiến chúng ta hao mòn năm tháng, tuổi xuân trong sự chờ đợi vô vọng và nỗi hối hận căm hờn vô
          bờ bến. Trì hoãn là kẻ cắp của sinh mệnh. Nó sẽ đánh cắp sự nhiệt tình, cơ hội, mài mòn ý chí chiến đấu của mỗi
          người trong vô thức, khiến cuộc sống dậm chân tại chỗ một cách nhàm chán và đầy bất lực. Tuổi trẻ của chúng ta
          rực rỡ hay úa tàn là do chính bản thân ta quyết định. Đừng để “trì hoãn” mang chúng ta đi xa hơn với những gì
          ta mong muốn có được, đừng để những mục tiêu mãi mãi chỉ nằm trong kế hoạch… Ngay bây giờ hãy tiến hành “điều
          trị bệnh trì hoãn” bởi “Hôm nay không bắt đầu, ngày mai sẽ hối hận”. Cuốn “Tuổi trẻ không trì hoãn” sẽ giúp bạn
          nhận diện và nhìn rõ những căn nguyên cơ bản của bệnh trì hoãn, đồng thời đưa ra những phương thuốc thực sự hữu
          hiệu. Mong rằng qua cuốn sách này, bạn thấy được bản thân trong đó, để rồi tự lập trình cho riêng mình những
          kế hoạch thoát khỏi sự “trì hoãn” một cách thực sự hiệu quả và sống cuộc đời như chính bạn mong muốn!
      </p>
  </td>
</tr>
<tr data-toggle="modal" data-target="#DetailModal">
  <td class="img-wrapper img-wrapper-sm">
      <img src="./assets/media/images/book06.jpg" alt="Hình ảnh">
  </td>
  <td>0118</td>
  <td>Mặc Kệ Thiên Hạ - Sống Như Người Nhật</td>
  <td>51350</td>
  <td>459</td>
  <td>Mari Tamagawa</td>
  <td>Truyện ngắn</td>
  <td>Nhà Xuất Bản Hà Nội</td>
  <td>
      <p class="detail-wrapper">
          Cuốn sách gối đầu giường cho những người hay lo lắng, sợ hãi và luôn thấy mình kém may mắn Dành cho những ai muốn được sống
          là chính mình, cuộc đời của mình, tuổi trẻ của mình. Đã đến lúc bạn nên dừng tìm kiếm sự an ủi ở người khác,
          hoặc chờ đợi sự giúp đỡ từ một ai đó. Bởi an ủi hay giúp đỡ về mặt cảm xúc đôi khi giống như con dao hai lưỡi.
          Nó có thể giúp bạn chống đỡ lo âu hay muộn phiền nhất thời, nhưng lại đẩy bạn chìm sâu hơn vào những cảm xúc
          tiêu cực đó. Giống như một đứa trẻ khi vấp ngã, bạn mong đợi một sự xoa dịu từ người lớn, mà quên mất rằng sự
          “hỗ trợ” ấy chỉ càng khiến bạn mãi chẳng thể nào “biết đi”. Và Mặc hệ thiên hạ, sống như người Nhật chính là
          cuốn sách dành cho những người muốn đi bằng chính đôi chân mình. Dành cho những người muốn gạt bỏ những nỗi sợ
          bởi chính tay mình, chứ không cầu cứu bất kì sự trợ giúp nào. Hãy thử sống một ngày “mặc kệ thiên hạ”, mặc kệ
          những lời nhận xét từ người khác. Hãy thử sống một ngày bạn cho phép mình từ bỏ, từ bỏ những thứ khó khăn, ngổn
          ngang lo lắng. Hãy thử sống một ngày bạn trân trọng mọi cung bậc cảm xúc bên trong con người bạn. “Nếu bạn có
          thể thẳng thắn đối diện với bản thân và từ bỏ những thứ đang giam cầm bạn, bạn sẽ trở thành con người có chính
          kiến, biết quý trọng hơn và đặt những cảm xúc của bản thân lên trên mọi ánh nhìn của người khác.” Mari Tamagawa
          khuyến khích mỗi người nên sống thật và ngưng phán xét bản thân. Thật lãng phí khi bạn để cuộc đời mình phải
          trải qua những tháng ngày khổ sở chỉ vì cái nhìn của người khác. Cũng đừng tin vào những “chiếc phao” cứu cánh
          mà bạn nhầm tưởng rằng sẽ giúp mình rũ bỏ được mọi lo lắng. Tổn thương tâm lí, áp lực hay nỗi sợ… của bản thân,
          chúng ta phải đối mặt với nó, chiến đấu và tự chữa trị cho chính mình. Đã đến lúc bạn cần phải nói lời tạm biệt
          với cuộc sống đầy âu lo đang rút cạn năng lượng của bạn. Cuộc đời của bạn không thuộc về ai khác, cuộc đời của
          bạn thuộc về bạn. Tháng 3 này hãy để “Mặc kệ thiên hạ, sống như người Nhật” giúp bạn bắt đầu cuộc đời mới, cuộc
          đời mang tên chính mình.
      </p>
  </td>
</tr>
<tr data-toggle="modal" data-target="#DetailModal">
  <td class="img-wrapper img-wrapper-sm">
      <img src="./assets/media/images/book07.jpg" alt="Hình ảnh">
  </td>
  <td>0324</td>
  <td>Đời Ngắn Đừng Ngủ Dài</td>
  <td>42000</td>
  <td>670</td>
  <td>Robin Sharma</td>
  <td>Sách kinh tế</td>
  <td>Nhà Xuất Bản Trẻ</td>
  <td>
      <p class="detail-wrapper">
          “Mọi lựa chọn đều giá trị. Mọi bước đi đều quan trọng. Cuộc sống vẫn diễn ra theo cách của nó, không phải theo cách của ta.
          Hãy kiên nhẫn. Tin tưởng. Hãy giống như người thợ cắt đá, đều đặn từng nhịp, ngày qua ngày. Cuối cùng, một nhát
          cắt duy nhất sẽ phá vỡ tảng đá và lộ ra viên kim cương. Người tràn đầy nhiệt huyết và tận tâm với việc mình làm
          không bao giờ bị chối bỏ. Sự thật là thế.” Bằng những lời chia sẻ thật ngắn gọn, dễ hiểu về những trải nghiệm
          và suy ngẫm trong đời, Robin Sharma tiếp tục phong cách viết của ông từ cuốn sách Điều vĩ đại đời thường để mang
          đến cho độc giả những bài viết như lời tâm sự, vừa chân thành vừa sâu sắc.
      </p>
  </td>
</tr>
<tr data-toggle="modal" data-target="#DetailModal">
  <td class="img-wrapper img-wrapper-sm">
      <img src="./assets/media/images/book08.jpg" alt="Hình ảnh">
  </td>
  <td>0102</td>
  <td>Khéo Ăn Nói Sẽ Có Được Thiên Hạ</td>
  <td>54500</td>
  <td>666</td>
  <td>Trác Nhã</td>
  <td>Sách kinh tế</td>
  <td>Nhà Xuất Bản Văn Học</td>
  <td>
      <p class="detail-wrapper">
          Xã hội hiện đại, từ xin việc đến thăng chức, từ tình yêu đến hôn nhân, từ giao lưu đến hợp tác… không việc gì không cần tài
          ăn nói. Khéo ăn nói giống như sở hữu loại “dầu bôi trơn” đảm bảo các mối quan hệ của bạn “vận hành” trơn tru.
          Không khéo ăn nói, gặp chuyện nhỏ mắc trở ngại, gặp chuyện lớn vấp thất bại. Làm thế nào để nói năng trôi chảy?
          Làm thế nào để nói lời “đi vào lòng người”? Trong những dịp khác nhau, với những người khác nhau, ở những tình
          huống không giống nhau… có cuốn sách này gợi ý, bạn sẽ thành người khéo ăn nói.
      </p>
  </td>
</tr>
<tr data-toggle="modal" data-target="#DetailModal">
  <td class="img-wrapper img-wrapper-sm">
      <img src="./assets/media/images/book09.jpg" alt="Hình ảnh">
  </td>
  <td>0219</td>
  <td>Luyện Siêu Trí Nhớ Từ Vựng</td>
  <td>94000</td>
  <td>593</td>
  <td>Nguyễn Anh Đức</td>
  <td>Sách Học Ngoại Ngữ</td>
  <td>Nhà Xuất Bản Đại Học Quốc Gia Hà Nội</td>
  <td>
      <p class="detail-wrapper">
          Tác giả Nguyễn Anh Đức chia sẻ về ý tưởng viết cuốn sách Luyện siêu trí nhớ từ vựng của mình: Trong chương trình đào tạo
          lãnh đạo của trường Kinh doanh Harvard, tác giả đã tình cờ gặp và kết bạn với một anh bạn người Do Thái. Qua
          tiếp xúc, tác giả từ ngạc nhiên đến tò mò bởi chàng trai này giao tiếp tiếng Anh thành thạo như một người bản
          ngữ, thậm chí khó tìm thấy được dấu hiệu tiếng Anh là chỉ là ngoại ngữ đối với chàng trai này. Tác giả đã rất
          tò mò, bởi có thể nói tiếng Anh như người bản ngữ như anh chàng này không nhiều. Câu trả lời của Shimon Yakir
          khiến tác giả rất bất ngờ: “ở Israel mọi người đều nói tiếng Do Thái và tiếng Ả- Rập là ngôn ngữ chính thức,
          nhưng hầu hết dân Israel đều nói tốt tiếng Anh và tiếng Đức, đấy còn chưa kể không ít người dùng tốt tới bốn
          hay có thể là năm ngôn ngữ khác nhau.” Tại sao người Do Thái vẫn nói được tiếng Do Thái cổ của 2000 năm trước
          dù hàng nghìn thế hệ đã phải lưu vong, rồi sinh ra và chết đi ở nơi đất khách quê người? Tại sao người Do Thái
          học và nói được nhiều ngoại ngữ một cách nhanh chóng và dễ dàng đến vậy? Và tại sao những đứa trẻ Do Thái lại
          có thể nói tới hai ba ngôn ngữ khác nhau một các tự nhiên và đơn giản như thế? Những câu hỏi như vậy luôn bao
          quanh suy nghĩ của tác giả, đã thôi thúc ông nghiên cứu và tìm hiểu về phương pháp học ngoại ngữ hiệu quả của
          dân tộc Do Thái. Ông mong muốn có thể truyền tải một cách đơn giản nhất cách mà người Do Thái học một ngôn ngữ
          mới thú vị thế nào, nó đầy sức mạnh tư duy và nhiều năng lượng sống tới người học tiếng Anh Việt Nam đang cảm
          thấy tiếng Anh luôn là áp lực. Chính tiếng Anh hiện nay đã cản trở vô số công việc thăng tiến và hạnh phúc của
          các bạn trẻ Việt. Cuối cùng, tác giả đã khám phá ra bí mật học ngoại ngữ của dân tộc thông minh nhất Thế giới.
          Họ sử dụng các học khá đơn giản: đó là trộn tiếng mẹ đẻ với ngôn ngữ mới và họ muốn học. Điều này giúp ngôn ngữ
          mới không còn xa lạ nữa, luôn có cảm giác tò mò chủ động tìm hiểu ngôn ngữ mới đó như thế nào? Cách học này thực
          ra rất đơn giản và bất cứ ai cũng có thể áp dụng được, tác giả tin rằng người Việt Nam chúng ta hoàn toàn có
          thể làm được, thậm chí là thành công hơn thế! Những điều không tưởng trước đây như học thuộc và nhớ lâu 100 từ
          vựng tiếng Anh mới mỗi ngày là điều không thể thì nay hoàn toàn có thể với phương pháp học tự tìm ra tính chủ
          động của bản thân này.
      </p>
  </td>
</tr>
<tr data-toggle="modal" data-target="#DetailModal">
  <td class="img-wrapper img-wrapper-sm">
      <img src="./assets/media/images/book10.jpg" alt="Hình ảnh">
  </td>
  <td>0433</td>
  <td>Nếu Chỉ Còn Một Ngày Để Sống</td>
  <td>90000</td>
  <td>340</td>
  <td>Nicola Yoon</td>
  <td>Tiểu thuyết</td>
  <td>Nhà Xuất Bản Văn Học</td>
  <td>
      <p class="detail-wrapper">
          “Nếu chỉ còn một ngày để sống” tên sách gốc Everything, Everything là cuốn tiểu thuyết bán chạy số 1 của New York Times –
          đồng thời được chuyển thể thành phim điện ảnh với sự góp mặt của hai diễn viên nổi tiếng là Amandla Stenberg
          trong vai Maddy và Nick Robinson trong vai Olly. Ngay từ khi công chiếu, bộ phim đã gây bão tại các phòng vé
          trên toàn thế giới kéo theo cơn sốt tìm đọc cuốn sách đặc biệt này đến từ các fan yêu thích bộ phim. Một chuyện
          tình cảm động được kể dưới ngòi bút tràn đầy những xúc cảm khác biệt đem đến cho người đọc những rung cảm chân
          thật chạm đến từng ngóc ngách trong trái tim. Một cuốn sách đã khiến hàng triệu độc giả phải khóc phải cười qua
          từng trang giấy. “Nếu cuộc đời là một cuốn sách thì bạn đọc ngược từ dưới lên cũng sẽ chẳng có gì thay đổi. Hôm
          nay chẳng khác gì hôm qua. Ngày mai cũng giống hệt ngày hôm nay. Trong cuốn sách về cuộc đời em, chương nào cũng
          giống hệt chương nào, cho tới khi anh xuất hiện.” Đánh đổi mọi thứ... vì tình yêu. Liệu điều đó có hoàn toàn
          xứng đáng ? Điều gì sẽ xảy ra nếu bạn không thể chạm vào bất cứ thứ gì trong thế giới ngoài kia? Không bao giờ
          được hít thở bầu không khí trong lành, cảm nhận ánh nắng ban ngày làm bỏng rát khuôn mặt... hay thử hẹn hò và
          hôn lên môi cậu chàng hàng xóm? Những thứ giản đơn và ý nghĩa của cuộc sống mà bất kì ai cũng sẽ phải trải qua.
          Trong “Nếu chỉ còn một ngày để sống” , Maddy là một cô gái mắc hội chứng thiếu hụt miễn dịch tổ hợp trầm trọng,
          và Olly là cậu bạn nhà kế bên - cũng là mối hiểm nguy lớn nhất mà cô từng đối mặt. Bệnh của Maddy nổi tiếng như
          mức độ hiếm có của nó. Cô có thể bị nhiễm bệnh bởi bất cứ nguyên tố nào ngoài trời. Đó là lý do mà cô được sống
          trong nhà với sự chăm sóc tận tình của mẹ và cô y tá. Thế nhưng cuộc sống êm đềm đến độ nhàm chán trong ngôi
          nhà bong bóng của Maddy đột ngột thay đổi khi có hàng xóm mới chuyển đến. Từng cuộc trò chuyện qua email trở
          thành sợi dây gắn kết những rung động đầu đời giữa Maddy và cậu chàng hàng xóm, Olly. Olly là cậu trai ưa thích
          thể thao, chạy nhảy, leo trèo suốt ngày. Maddy đã bị Olly thu hút ngay từ ánh nhìn đầu tiên qua ô cửa sổ. Chính
          từ khoảnh khắc ấy, có gì đó trong Maddy đã vùng lên khi cô muốn thoát khỏi cuộc sống bong bóng đó. Khao khát
          muốn được sống một cuộc đời tự do và làm những điều mình muốn.
      </p>
  </td>
</tr>